.order-total-card {
  display: flex;
  justify-content: flex-end;
  padding: 16px;

  .total-content {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }

  .total-label {
    margin-right: 0.5rem;
    font-weight: 500;
  }

  .total-value {
    font-weight: bold;
    color: #1976d2; // azul primário do Material
  }
}
